{% extends "blockchain/base.html" %}
{% load static %}
{% block content%}
<div class="row row-home">
    <div class = "col text-home">
        <h1><b>Welcome on SupBlock Platform</b></h1>
        <form>
            <button class="btn btn-outline-primary" formaction="{% url 'blockchain-your-product' %}">Track your product</button>
        </form>            
    </div>
    <div class = "col text-home">
        <img src="{% static 'blockchain/home_img.png' %}" class="img-fluid" alt="Home page image">
    </div>
</div>
{%endblock content%}